<div id="contact-heading">
  <h1>Contact</h1>
</div>

<div id="contact-prof-pic">
  <img src="/images/portfolio_pic.jpg">
</div>

<div id="contact-info">
  <!-- <table>
    <tr>
      <td><h3>Email:</h3></td>
      <td><p>Bradel.Canfield@gmail.com</p></td>
    </tr>
    <tr>
      <td><h3>Cell:</h3></td>
      <td><p>(954)604.9973</p></td>
    </tr> -->
    <!-- <ul>
      <li>Email: Bradel.Canfield@gmail.com</li>
      <li>Cell: (954)604.9973</li>
    </ul> -->
    <p>Email: Bradel.Canfield@gmail.com</p>
    <a href="mailto:bradel.canfield@gmail.com">Email Me</a> 
</p>
    <p>Cell: (954)604.9973</p>
</div>

<div id="linkedin">
  <a href="https://www.linkedin.com/in/bradelcanfield" target="_blank">
<img src="http://download3.vmware.com/socialmedia/icons/logo-linkedin.png" style="border:none;max-width:100%;" alt="Photo of Linked In Logo">
</a>
</div>
